@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import 'tailwindcss';

:root {
  font-family: "Red Hat Text", sans-serif;
}

@theme {
  --color-red: #c73a0f;
  --color-green: #1ea475;
  --color-rose-50: #fcf9f7;
  --color-rose-100: #f4edeb;
  --color-rose-300: #c9aea6;
  --color-rose-400: #ad8985;
  --color-rose-500: #87635a;
  --color-rose-900: #260f08;
  --color-capa: #0000003e;
}

@layer {
  .auto-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-content: center;
  }
}